/* media query */
/* 700 */
@media (max-width: 44em) {
    html {
        font-size: 38%;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .btn-mobile-nav {
        display: block;
    }
    .icon-mobile-nav {
        font-size: 5.6rem;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.97);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
        transform: translateX(200%);
    }
    .nav-open .main-nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        display: flex;
        flex-direction: column;
        gap: 6.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3.8rem;
    }
}
