/* media query */
/* 1440 */

@media (width> 90em) {
    html {
        font-size: 100%;
        overflow-x: hidden;
    }
    .live-videoWrapper iframe {
        height: 90%;
    }
    .live-link {
        margin-top: -4rem;
    }
}
/* 900 */

@media (max-width: 56em) {
    html {
        font-size: 48%;
        overflow-x: hidden;
    }
    .live-videoWrapper iframe {
        height: 90%;
    }
    .live-link {
        margin-top: -2rem;
    }
    .about-container {
        grid-template-columns: 1fr;
    }
}
/* 700 */
@media (max-width: 44em) {
    html {
        font-size: 42%;
        overflow-x: hidden;
    }
    body {
        overflow-x: hidden;
    }
    .header {
        background-color: var(--color-secondary);
        height: 10rem;
    }
    .btn-mobile-nav {
        display: block;
    }
    .icon-mobile-nav {
        font-size: 5.6rem;
    }

    .main-nav {
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.97);
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100vh;
        opacity: 0;
        pointer-events: none;
        visibility: hidden;
        transition: 0.3s all ease-in-out;
        transform: translateX(100%);
        z-index: 9;
    }
    .nav-open .main-nav {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transform: translateX(0);
    }
    .nav-open .icon-mobile-nav[name="close-outline"] {
        display: block;
    }
    .nav-open .icon-mobile-nav[name="menu-outline"] {
        display: none;
    }
    .main-nav-list {
        display: flex;
        flex-direction: column;
        gap: 6.8rem;
    }
    .main-nav-link:link,
    .main-nav-link:visited {
        font-size: 3.8rem;
    }
    .sticky {
        width: 100%;
        margin: 0;
        border-radius: 0px;

        transform: scale(1);
    }
    .slide-link-container {
        z-index: 17;

        text-align: center;
        margin-top: 14rem;
    }
    .slider .slide .info {
        max-width: 70%;
    }
    .live-link {
        margin-top: 0rem;
    }
    .playlist-container {
        grid-template-columns: 1fr;
    }
}
/* 550 */
@media (max-width: 34em) {
    .navigation {
        opacity: 1;
    }
    .explore-row {
        display: grid;
        grid-template-columns: 1fr;
    }
    .explore-row .explore-row-info:last-child {
        grid-row: 1 / 2;
    }
    #map {
        max-height: 60%;
        width: 95%;
        margin-inline: 1rem;
    }
    .stats {
        flex-direction: column;
        align-items: center;
        gap: 2rem;
    }

    .about-description,
    .process-description {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        max-width: 80%;
        margin-inline: auto;
    }
    .about-features {
        margin-top: 4rem;
    }
}
