:root {
    /* Primary Colors */
    --color-primary: #e03131; /* Logo color */
    --color-secondary: #212529; /* Navbar and footer background */
    --color-tertiary: #f8f9fa; /* Section background */

    /* Darker Shades */
    --color-primary-darker: #c02626; /* Darker version of logo color */
    --color-secondary-darker: #1c1e21; /* Darker version for navbar/footer */
    --color-tertiary-darker: #e9ecef; /* Darker gray for subtle contrast */

    /* Opacity Versions */
    --color-primary-opacity: rgba(224, 49, 49, 0.227);
    --color-secondary-opacity: rgba(33, 37, 41, 0.897);
    --color-tertiary-opacity: rgba(248, 249, 250, 0.822);

    /* Font Colors */
    --font-color-primary: #f8f9fa; /* White font color */
    --font-color-secondary: #212529; /* Black font color */
    --font-color-accent: #ffd43b; /* Accent font color for small spans */

    /* Button Background */
    --button-bg: #0c8599; /* Button background color */

    /* Gradients */
    --gradient-primary: linear-gradient(to top left, #e03131, #c02626);
    --gradient-secondary: linear-gradient(to top left, #212529, #1c1e21);
    --color-shadow: rgba(0, 0, 0, 0.1);
    --border-radius: 10px;
}

* {
    padding: 0;
    margin: 0;
    scroll-behavior: smooth;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    direction: rtl;
    font-family: "Cairo", sans-serif;
    background-color: var(--color-tertiary-darker);
}
/* styles.css */

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 25px;
    width: 5rem;
    height: 5rem;
    font-size: 2.4rem;
    background-color: var(--color-secondary);
    color: var(--font-color-accent);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    display: none;
    align-items: center;
    justify-content: center;
    transition: opacity 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}
#backToTop:hover {
    opacity: 0.96;
}
#backToTop.show {
    display: flex;
    z-index: 99999999999999999999;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
    height: 8rem;
    width: 100%;
    position: absolute;
    z-index: 3;
    padding: 0 4.8rem;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
.logo-container .logo {
    width: 9rem;
}

.main-nav-list {
    display: flex;
    align-items: center;
    gap: 3.8rem;
    list-style: none;
}
.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    font-size: 2rem;
    font-weight: 600;
    color: var(--color-tertiary-darker);
    transition: all 0.3s ease-in-out;
    position: relative;
}
.main-nav-link:hover,
.main-nav-link:active {
    color: var(--color-primary-darker);
}
.main-nav-link::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    height: 3px;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
    background-color: var(--color-primary-darker);
}
.main-nav-link:hover::before {
    width: 100%;
}
/* mobile nav */
.btn-mobile-nav {
    border: none;
    cursor: pointer;
    background: none;
    display: none;
    z-index: 99999;
}
.icon-mobile-nav {
    font-size: 3.2rem;
    color: var(--color-primary-darker);
}
.icon-mobile-nav[name="close-outline"] {
    display: none;
}
/* sticky navigation bar */
.sticky {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--color-secondary-opacity);
    height: 8rem;
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 1rem;
    transform: scale(0.98);
    border-radius: 10px;
    z-index: 999;
    box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
/* main section */
.section-hero {
    height: 100vh;
    /* position: absolute; */
    /* top: 0;
    left: 0; */
    /* width: 100%; */
    background-color: #7a1b24;
}
.slider {
    width: 100%;
    /* max-width: 100vw; */
    height: 100%;
    position: relative;
    overflow: hidden;
}
.slider .slide {
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
    /* transition: opacity 0.3s ease-in-out; */
}
.slider .slide.active {
    clip-path: circle(150% at 0 50%);
    opacity: 1;
    /* transition: 0.3s ease-in-out; */
}
.slider .slide:not(.active) {
    opacity: 0;
    /* transform: translateX(-300px); */
}
.slider .slide img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.overlay-color {
    background: linear-gradient(
        to bottom,
        rgb(14, 14, 15),
        var(--color-primary-opacity)
    );
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
}
.info-container {
    position: absolute;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 999;
}
.slider .slide .info {
    color: var(--color-tertiary-darker);

    text-align: center;

    font-weight: 700;
    font-size: 6rem;
    z-index: 999;
}
.slide-link-container {
    z-index: 17;

    text-align: center;
    margin-top: 8rem;
}
.slide-link {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-secondary-darker);
    color: var(--color-tertiary-darker);
    padding: 1rem 4rem;
    font-size: 2.4rem;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
    transform: rotateY(0deg);
}
.slide-link-container:hover .slide-link {
    background-color: var(--color-tertiary-darker);
    color: var(--color-primary-darker);
    transform: rotateY(360deg);
}
.navigation {
    position: absolute;
    display: flex;
    justify-content: space-between;
    width: 96%;
    top: 50%;
    left: 2%;
    transform: translateY(-50%);
    justify-self: center;
    opacity: 0;
    transition: all 0.3s ease-in-out;
}
body:has(.slider:hover) .navigation,
.navigation:hover {
    opacity: 1;
}
.prev-btn,
.next-btn {
    border: 1px solid var(--color-secondary-darker);
    /* border: none; */
    color: var(--color-secondary-darker);
    border-radius: 50%;
    background-color: var(--color-tertiary-darker);
    font-weight: 700;
    font-size: 2.4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.prev-btn:hover,
.next-btn:hover {
    color: var(--color-primary-darker);
    opacity: 0.95;
    border: 1px solid var(--color-primary-darker);
}
.navigation-visibility {
    display: flex;
    justify-content: center;
}
.navigation-visibility .slide-dot {
    width: 10px;
    height: 10px;
    background-color: var(--color-tertiary-darker);
    transform: translateY(-40px);
    margin: 0 1.5rem;
    border-radius: 15px;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}
.navigation-visibility .slide-dot.active {
    width: 30px;
    background-color: var(--color-secondary);
}
.section-live {
    padding: 2rem 0;
    background-color: var(--color-secondary);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.live-videoWrapper,
.explore-videoWrapper {
    display: flex;
    justify-content: center;
    position: relative;
    padding-bottom: 56.25%;
    /* 16:9 */
    padding-top: 10px;
    height: 0;
    width: 95%;
    margin-inline: auto;
}
.live-videoWrapper iframe,
.explore-videoWrapper iframe {
    /* width: 560px;
    height: 315px; */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 75%;
}
.outline-heading {
    font-weight: 900;
    text-align: center;
    font-size: 14rem;
    line-height: 1em;
    color: transparent;
    margin: 1rem 0;
    -webkit-text-stroke: 5px var(--color-primary-opacity);
}
.live-link {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-primary-darker);
    color: var(--color-tertiary-darker);
    padding: 1rem 6rem;
    font-size: 2.4rem;
    border-radius: 12px;
    transition: all 0.5s ease-in-out;
    text-align: center;
    margin-top: -12rem;
    cursor: pointer;
    z-index: 9;
}
/* explore section */
/* Explore Section */
.section-explore {
    background: radial-gradient(
        circle,
        rgba(248, 249, 250, 1) 0%,
        rgba(233, 236, 239, 1) 100%
    );
    padding: 8rem 2rem;
    color: var(--color-secondary);
}

.explore-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    margin-bottom: 4rem;
}

.explore-videoWrapper {
    max-height: fit-content;
    width: 100%;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
}

.explore-videoWrapper:hover {
    transform: scale(1.03);
}

.explore-videoWrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}

.explore-row-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* max-width: 95%; */
    padding: 2rem;
    background-color: var(--color-tertiary);
    border-radius: 15px;
    /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); */
    transition: box-shadow 0.3s ease;
}

.explore-row-info:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.05);
}

.explore-info-heading {
    color: var(--color-primary-darker);
    font-weight: 700;
    font-size: 2.8rem;
    margin-bottom: 1.2rem;
}

.explore-info-paragraph {
    color: var(--color-secondary);
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.6;
    max-height: 8rem; /* Initial max-height */
    overflow: hidden;
    position: relative;
    transition: max-height 0.5s ease-in-out; /* Add smooth transition */
}

.explore-info-paragraph.active {
    max-height: 70rem; /* Adjust this max-height as needed */
}

/* Optional: Gradual fade-out effect for the "read more" gradient */
.explore-info-paragraph::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    background: linear-gradient(
        to bottom,
        rgba(248, 249, 250, 0),
        rgba(248, 249, 250, 1)
    );
    opacity: 1;
    transition: opacity 0.5s ease-in-out; /* Adjust duration to match max-height transition */
}

.explore-info-paragraph.active::after {
    opacity: 0;
}

.explore-action-container {
    margin-top: 2rem;
    display: flex;
    align-items: center;
    gap: 1.5rem;
}

.see-more-btn {
    font-size: 1.6rem;
    font-weight: 900;
    cursor: pointer;
    color: var(--font-color-accent);
    transition: color 0.5s ease-in-out;
    min-width: 8rem;
}

.see-more-btn:hover {
    color: var(--color-primary);
}

.explore-link {
    display: inline-block;
    text-decoration: none;
    background-color: var(--color-primary-darker);
    color: var(--color-tertiary-darker);
    padding: 0.8rem 1.6rem;
    font-size: 1.4rem;
    border-radius: 12px;
    transition: background-color 0.3s ease, transform 0.3s ease;
    text-align: center;
    cursor: pointer;
}

.explore-link:hover {
    background-color: var(--color-primary);
    transform: translateY(-2px);
}
/* playlist */
/* Container and Grid Layout */
.playlist-container {
    width: 100%;
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1.5rem;
    padding: 1rem;
    background-color: var(--color-tertiary);
    color: var(--font-color-secondary);
}

/* Main Video Section */
.main-video {
    max-height: fit-content;
    background-color: var(--color-primary-darker);
    padding: 1rem;
    border-radius: 0.5rem;
    color: var(--font-color-primary);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.video-wrapper {
    position: relative;
    padding-top: 56.25%; /* 16:9 Aspect Ratio */
    border-radius: 0.5rem;
    overflow: hidden;
}

.video-frame {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0.5rem;
}

.main-video-title {
    margin-top: 1rem;
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--font-color-primary);
    text-align: center;
}

/* Playlist Section */
.video-playlist {
    background-color: var(--color-secondary);
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: var(--font-color-primary);
}

.playlist-title {
    font-size: 1.8rem;
    font-weight: 800;
    color: var(--color-tertiary);
    padding: 0.5rem;
}

.playlist-details {
    font-size: 1.6rem;
    color: var(--font-color-primary);
    padding: 0.5rem 1rem;
    text-align: right;
}

.videos {
    max-height: 40rem;

    overflow-y: scroll;
    padding: 0.5rem;
    background-color: var(--color-secondary-darker);

    border-radius: 0.5rem;
}

.videos::-webkit-scrollbar {
    width: 0.4rem;
}

.videos::-webkit-scrollbar-thumb {
    background-color: var(--color-primary-opacity);
    border-radius: 0.5rem;
}

/* Video List Items */
.video {
    display: flex;
    align-items: center;
    padding: 0.8rem;
    margin: 0.5rem 0;
    background-color: var(--color-secondary);
    color: var(--color-tertiary);
    border-radius: 0.5rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

.video:hover {
    background-color: var(--color-secondary-darker);
}

.video.active {
    background-color: var(--color-primary-darker);
    color: var(--font-color-primary);
}

.video img {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: 1rem;
    filter: invert(100%);
}

.video.active img {
    filter: invert(100%) sepia(100%) saturate(2000%) hue-rotate(360deg);
}

.video p {
    font-size: 1.2rem;
    margin: 0 1rem;
    font-weight: 900;
    color: var(--font-color-accent);
}

.video h3 {
    flex-grow: 1;
    font-size: 1.6rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 500;
    color: var(--font-color-primary);
}
/* Style the map container */
#map {
    max-height: 75%;
    height: 50rem;
    width: 100%;
    margin: 50px auto;
    border: 3px solid #444; /* Add a border */
    border-radius: 15px; /* Rounded corners */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

/* Marker popup styling */

.leaflet-container {
    cursor: pointer; /* Show pointer cursor on the map */
}
.leaflet-popup .leaflet-popup-content-wrapper {
    background-color: var(--color-secondary-darker);
    color: var(--color-tertiary-darker);
    border-left: 5px solid var(--color-primary-darker);
    border-radius: 5px;
    padding-right: 0.6rem;
}

.leaflet-popup .leaflet-popup-content {
    font-size: 1.5rem;
}

.leaflet-popup .leaflet-popup-tip {
    background-color: var(--color-secondary-darker);
}

/* General Section Styling */
.about-section {
    background-color: var(--color-secondary-darker);
    color: #fff;
    padding: 4rem 2rem;
    line-height: 1.8;
}
/* Stats Section */
.stats-container {
    margin-top: 4rem;
}

.about-stats {
    text-align: center;
}

.about-heading,
.contact-heading {
    font-size: 3.2rem;
    margin-bottom: 1.5rem;
    color: var(--color-primary-darker);
}

.about-subheading {
    font-size: 1.8rem;
    color: var(--font-color-primary);
    margin-bottom: 1.5rem;
}

.about-description,
.process-description {
    margin-bottom: 2rem;
    font-size: 1.6rem;
}

.stats {
    display: flex;
    justify-content: center;
    gap: 4rem;
    margin: 2rem 0;
}

.stat-item {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 18rem;
    height: 12rem;
    border: 2px solid var(--color-secondary);
    border-radius: 5px;
}

.stat-value {
    font-size: 2.4rem;
    color: var(--color-primary);
}

.stat-label {
    font-size: 1.4rem;
    color: var(--font-color-primary);
}

.process-heading {
    font-size: 2rem;
    margin-top: 2rem;
    color: var(--font-color-primary);
}

/* About Container */
.about-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

/* Info Section */
.about-info {
    flex: 1;

    color: var(--font-color-primary);
    padding: 4rem;
}

.about-headline {
    font-size: 2.4rem;
    margin-bottom: 1.5rem;
    color: var(--color-primary);
}

.about-features {
    list-style: none;
    margin-top: 2rem;
}
.about-intro,
.about-features li {
    font-size: 1.6rem;
    margin-bottom: 1rem;
}
.fa-diamond {
    color: var(--color-primary);
    margin-left: 1rem;
}

/* CTA Button */
.cta-button {
    display: inline-block;
    margin-top: 3rem;
    background-color: var(--color-primary);
    color: var(--font-color-primary);
    font-size: 1.6rem;
    padding: 1.2rem 3rem;
    text-decoration: none;
    border-radius: var(--border-radius);
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: var(--color-primary-darker);
}
/* contact section */
#contact {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    background-color: var(--color-secondary-darker);
    padding: 0rem 2rem 8rem;
    justify-content: center;
}
.contact-heading {
    width: 100%;
    text-align: center;
}

.contact-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--color-secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px var(--color-shadow);
    padding: 1.5rem;
    max-width: 250px;
    flex: 1;
    min-width: 220px;
}

.contact-icon {
    font-size: 2.8rem;
    color: var(--color-primary);
    margin-bottom: 1rem;
}

.contact-card h3 {
    font-size: 1.8rem;
    color: var(--font-color-primary);
    margin: 1rem 0;
}

.contact-card p {
    font-size: 1.4rem;
    color: var(--font-color-primary);
    margin-bottom: 1rem;
}

.contact-card a {
    font-size: 1.2rem;
    color: var(--color-primary);
    text-decoration: none;
    margin-top: auto;
    font-weight: bold;
    transition: color 0.3s;
}

.contact-card a:hover {
    color: var(--color-primary-darker);
}
/* footer */
.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 5rem;
    background-color: var(--color-primary-darker);
    padding: 2rem;
    color: var(--font-color-secondary);
    font-size: 1.4rem;
    font-weight: 700;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
